<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="mb-3">
                    <label class="form-label">username</label>
                    <input type="text" class="form-control" formControlName="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">email</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary">注册</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>