<div>
    <form [formGroup]="oneForm" (ngSubmit)="submit()">
        <div>
            <label for="username">用户名：</label>
            <input type="text" id="username" name="username" formControlName="username">
        </div>
        <div>
            <label for="password">密码：</label>
            <input type="text" id="password" name="password" formControlName="password">
        </div>
        <div>
            <label for="email">邮箱</label>
            <input type="text" id="email" name="email" formControlName="email">
        </div>

        <div formGroupName="address">
            <h2>address</h2>
            <div>
                <label for="city">地区：</label>
                <input type="text" id="city" name="city" formControlName="city">
            </div>
            <div>
                <label for="street">街道：</label>
                <input type="text" id="street" name="street" formControlName="street">
            </div>
        </div>
        <button type="submit" [disabled]="!oneForm.valid">提交</button>
    </form>
    <div>
    {{this.oneForm.value|json}}
</div>
<div>
    <button >获取用户名</button>
    {{username?.value}}
</div>
    
</div>